assets/caches/plex_token.txt
assets/caches/plexstatusfile1.txt
assets/caches/plexstatusfile2.txt
assets/caches/plexprogress.txt
assets/php/analyticstracking.php
assets/caches/images/*
assets/caches/recentlyadded/episodeKey/*
assets/caches/recentlyadded/movieKey/*
assets/caches/recentlyadded/parentKey/*
assets/caches/recentlyadded/recentlyAdded.xml
assets/caches/nowPlaying*.xml
assets/caches/session.xml
private/config.ini
vendor/
composer.lock
.idea/
